@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Roboto:wght@100;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(106, 4, 15, 1);
    background-image: url(image/bg\ the\ flash\ 1.png);
    background-size: 1536px 755px;
    min-height: 100vm;
    filter: none;
}

nav{
    display: flex;
    background-color: transparent;
    padding: 20px 0;
    justify-content: space-around;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
}

nav .navbar{
    margin-left: 30px;
    gap: 1.2rem;
}

nav .navbar a, p{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    font-weight: 500;
}

nav .navsign{
    padding-left: 270px;
    justify-content: flex-end;
    float: right;
    gap: 1rem;
    margin-right: 30px;
}

nav .navsign a{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    font-weight: 500;
}

.judul{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    font-weight: 500;
}

.judul h1{
    align-items: left;
    text-align: left;
    color: white;
    margin-top: 20px;
    margin-bottom: 300px;
    margin-left: 80px;
}

.isi{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    font-weight: 500;
    margin-top: -70px;
    margin-left: 470px;
    width: 620px;
    height: 150px;
}

.isi h3{
    justify-content: center;
    text-align: center;
    color: white;
}